.page-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /*height: 80vh;*/
    min-height: 50vh;
    flex-direction: column;
}

.project-component {
    border: 1px solid black;
}

.aboutme-container {
    text-align: left;
    padding: 10px;
    width: 60vw;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80vw;
}

.skill {
    height: 15vw;
    width: 15vw;
}

.skillBox {
    width: 16vw;
    padding: 5px;
}

.centered {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.bio {
    display: flex;
    width: 90vw;
}

.intro {
    display: flex;
    flex-direction: column;
}

.transparent-bg {
    background: rgba(255,255,255,.8)
}